{%  extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block content %}
    <h1>Add Book</h1>
    <hr>
    <button class="button2"><a href="{% url 'login' %}">logout</a></button>
    <br>
    <br>
    <br>
    <div class="Add">
    <form action="/LMS/addbook/" method="POST">
    {%  csrf_token %}
    <br>
    <br>
        <label for="Book_id" class="size">Book_id:</label><input type="text" name="Book_id" placeholder="Enter Book_id" required/>
    <br>
    <br>
        <label for="Title">Title:</label><input type="text" name="Title" placeholder="Enter Title" required/>
    <br>
    <br>
        <label for="Author">Author:</label><input type="text" name="Author" placeholder="Enter Author" required/>
    <br>
    <br>
        <label for="Branch">Branch:</label><input type="text" name="Branch" placeholder="Enter Branch" required/>
    <br>
    <br>
        <label for="Quantity">Quantity:</label><input type="text" name="Quantity" placeholder="Enter Quantity" required/>
    <br>
    <br>
        <button type="submit" class="button">Add Book</button>
    </form>
    </div>
{% endblock %}