{%  extends 'base.html' %}

{% block title %}Issue{% endblock %}

{% block content %}
    <h1>Issue Book</h1>
    <hr>
    <button class="button2"><a href="{% url 'login' %}">logout</a></button>
    <br>
    <br>
    <br>
    <div class="Add">
    <form action="/LMS/issuebook/" method="POST">
    {%  csrf_token %}
    <br>
    <br>
        <label for="Student_id">Student_id:</label><input type="text" placeholder="Enter Student_id" name="Student_id" required/>
    <br>
    <br>
        <label for="Book_id">Book_id:</label><input type="text" placeholder="Enter Book_id" name="Book_id" required/>
    <br>
    <br>
        <label for="Brnch">Branch:</label><input type="text" placeholder="Enter Branch" name="Brnch" required/>
    <br>
    <br>
        <label for="Return_date">Return Date:</label><input type="date" placeholder="Enter Return Date" name="Return_date" required/>
    <br>
    <br>
    <button type="submit" class="button">Issue Book</button>
    </form>
    </div>
{% endblock %}